<ngx-spinner
bdColor = "rgba(9,56,159,0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate-multiple"

><p style="font-size: 20px; color: white">Loading...</p></ngx-spinner>
  <app-cabecera></app-cabecera>

  <div class="app-body">
     <app-menu></app-menu>

      <!-- Contenido Principal -->
      <main class="main">
          <!-- Breadcrumb -->
          <ol class="breadcrumb">
              <li class="breadcrumb-item">Home</li>
              <li class="breadcrumb-item"><a href="#">Admin</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
          </ol>
          <div class="container-fluid">
              <!-- Ejemplo de tabla Listado -->
              <div class="card">
                  <div class="card-header">
                      <i class="fa fa-align-justify"></i> Ventas
                      <button type="button" class="btn btn-secondary" [routerLink]="['/ventas/create']">
                          <i class="icon-plus"></i>&nbsp;Nuevo
                      </button>
                  </div>
                  <div class="card-body">
                   <form #FormSearch="ngForm" (ngSubmit)="busqueda(FormSearch)" >
                      <div class="form-group row">
                          <div class="col-md-6">
                              <div class="input-group">
                                  <select class="form-control col-md-3" id="criterio" [(ngModel)]="criterio" name="criterio">
                                    <option value="nombrecliente">Nombre Cliente</option>
                                    <option value="apellidocliente">Apellido Cliente</option>
                                    <option value="cedulacliente">Cedula Cliente</option>
                                    <option value="correocliente">Correo Cliente</option>
                                  </select>
                                  <input type="text" id="search" name="search" [(ngModel)]="search" class="form-control" placeholder="Texto a buscar">
                                  <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                              </div>
                          </div>
                      </div>
                       </form>
                      <table class="table table-bordered table-striped table-sm">
                          <thead>
                              <tr>
                                  <th>Opciones</th>
                                  <th>Fecha</th>
                                  <th>Cliente</th>
                                  <th>Usuario</th>
                                  <th>Numero factura</th>
                                  <th>Venta</th>
                                  <th>Recibido</th>
                                  <th>Descuento</th>
                                  <th>Cambio</th>
                                  <th>Estado</th>
                                  <th>Tipo</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let ventas of venta | paginate: { itemsPerPage: itemsPagina, currentPage: p, totalItems: totalpages }">
                                  <td>
                                      <button type="button" class="btn btn-info btn-sm" [routerLink]="['show/',ventas.idventa]">
                                        <i class="icon-eye"></i>
                                      </button> &nbsp;
                                      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalEliminar">
                                        <i class="icon-trash"></i>
                                      </button>
                                  </td>
                                  <td>{{ventas.fecha | date:'short'}}</td>
                                  <td>{{ventas.nombrecliente}}</td>
                                  <td>{{ventas.name}}</td>
                                  <td>HH-{{ventas.idventa}}</td>
                                  <td>{{ventas.valorventa|currency: 'COP ': 'code'}}</td>
                                  <td>{{ventas.importeventa|currency: 'COP ':'code'}}</td>
                                  <td>{{ventas.descuento|currency: 'COP ':'code'}}</td>
                                  <td>{{ventas.importeventa - ventas.valorventa + ventas.descuento|currency: 'COP ':'code'}}</td>
                                  <td *ngIf="ventas.estado===1">
                                      <span class="badge badge-success">Correcto</span>
                                  </td>
                                  <td *ngIf="ventas.estado===0">
                                    <span class="badge badge-danger">Problemas</span>
                                </td>
                                <td>{{ventas.desctipoventa}}</td>
                              </tr>
                          </tbody>
                      </table>
                      <nav>
                        <pagination-controls (pageChange)="p = getPage($event)"></pagination-controls>
                      </nav>
                  </div>
              </div>
              <!-- Fin ejemplo de tabla Listado -->
          </div>
          <!--Inicio del modal agregar/actualizar-->
          <div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
              <div class="modal-dialog modal-primary modal-lg" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title">Agregar categoría</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                              <div class="form-group row">
                                  <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                                  <div class="col-md-9">
                                      <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre de categoría">
                                      <span class="help-block">(*) Ingrese el nombre de la categoría</span>
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-md-3 form-control-label" for="email-input">Descripción</label>
                                  <div class="col-md-9">
                                      <input type="email" id="descripcion" name="descripcion" class="form-control" placeholder="Enter Email">
                                  </div>
                              </div>
                          </form>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                          <button type="button" class="btn btn-primary">Guardar</button>
                      </div>
                  </div>
                  <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
          </div>
          <!--Fin del modal-->
          <!-- Inicio del modal Eliminar -->
          <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
              <div class="modal-dialog modal-danger" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title">Eliminar Categoría</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <p>Estas seguro de eliminar la categoría?</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                          <button type="button" class="btn btn-danger">Eliminar</button>
                      </div>
                  </div>
                  <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
          </div>
          <!-- Fin del modal Eliminar -->
      </main>
      <!-- /Fin del contenido principal -->
  </div>

  

  <footer class="app-footer">
      <span><a href="http://www.incanatoit.com/">IncanatoIT</a> &copy; 2017</span>
      <span class="ml-auto">Desarrollado por <a href="http://www.incanatoit.com/">IncanatoIT</a></span>
  </footer>

  

