<app-cabecera></app-cabecera>
<div class="app-body">
  <app-menu></app-menu>
  <main class="main">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item"><a href="#">Admin</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
  </ol>
  
  <div class="container-fluid">
      <div class="card">
          <div class="card-body">
              <div class="form-group row border">
                  <div class="col-md-6">
                      <form #formcliente="ngForm" autocomplete="off" >
                      <div class="form-group">
                          <label for="">Cliente(*)</label>
                          <input type="text" class="form-control"  placeholder="cedula cliente" id="cedula" name="cedula" value="{{cedula}}" [(ngModel)]="cedula" >
                              <button style="display:none" class="btn btn-primary" (click)="buscarcliente(formcliente)">Buscar2 </button>
                              <input type="text" readonly class="form-control" value='{{nombre_cliente}}' >
                              <button  class="btn btn-primary" data-toggle="modal" data-target="#modalClient"><i class="fa fa-search" aria-hidden="true" ></i></button>
                              <button  class="btn btn-success" data-toggle="modal" data-target="#crearcliente"><i class="fa fa-plus" aria-hidden="true" ></i></button>
                         
                      </div>
                      </form>
                  </div>
                 
                  <div class="col-md-3">
                      <label for="">Impuesto(*)</label>
                      <input type="text" class="form-control" value="{{impuesto}}%">
                  </div>
                  
                  
              </div>
              <div class="form-group row border">
                 
                    <form #producod="ngForm" autocomplete="off" role="form" class="form-inline" >
                            <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tipo venta(*): </label><br>
                                        <select class="form-control" id="tipov" name="tipov"  [(ngModel)]="tipov" >
                                            <option value="0" selected>Seleccione</option>
                                            <option *ngFor="let tipo of tipoventarray" value="{{tipo.idtipoventa}}">{{tipo.desctipoventa}}</option>
                                      </select>
                                    </div>
                                </div><br><br><br>
                  <div class="col-md-6">
                     
                      <div class="form-group">
                          <label>Artículo <span style="color:red;" >(*Seleccione)</span></label>
                          <div class="form-inline">
                              <input type="text" class="form-control"  placeholder="Ingrese artículo" id="codigo" name="codigo"  [(ngModel)]="codigo" >
                              <button style="display:none" (click)="buscararticulocod(producod)"></button>
                              <button  class="btn btn-primary" data-toggle="modal" data-target="#buscarProductoModal"  >...</button>
                              <input type="text" readonly class="form-control" value="{{nombre_producto}}">
                             
                          </div> 
                          Laboratorio:{{nombre_laboratorio}}<br>
                             Existencia: {{stock}}                                   
                      </div>
                     
                  </div>
                 
                  <div class="col-md-2">
                      <div class="form-group">
                            
                          
                                Valor P/U: <br>
                         <strong>{{precioventa|currency: 'COP ':'code'}}</strong>
                      
                    </div>
                  </div>
                  <div class="col-md-1">
                      <div class="form-group">
                            <div class="form-inline">
                          <label>Cantidad</label>
                          
                          <input type="number" value="0"   class="form-control" *ngIf="tipo===2" id="cantidad" name="cantidad" [(ngModel)]="cantidad" style="width:70px">
                          <input type="number" value="0"   class="form-control" *ngIf="tipo===1" disabled style="width:70px" id="cantidad" name="cantidad" [(ngModel)]="cantidad" >
                      </div>
                        </div>
                  </div>
                  <div class="col-md-1">
                      <div class="form-group">
                          <div class="form-inline">
                          <label>Unidad</label>
                          <input type="number" value="0" class="form-control" [(ngModel)]="unidad" id="unidad" name="unidad"  style="width:70px"  >
                          </div>
                      </div>
                  </div><br>
                  <div class="col-md-2">
                      <div class="form-group">
                            <div class="form-inline">
                          <button type="button"  class="btn btn-success form-control btnagregar"  (click)="detalle(producod)" style="margin-top:18px; width:150px"><i class="icon-plus"></i></button>
                          </div>
                      </div>
                  </div>
                </form>
              </div>
            <div class="form-group row border">
                  <div class="table-responsive col-md-12">
                      <table class="table table-bordered table-striped table-sm table-condensed">
                          <thead>
                              <tr>
                                  <th>Opciones</th>
                                  <th>Artículo</th>
                                  <th>Precio</th>
                                  <th>Cantidad</th>
                                  <th>Subtotal</th>
                                  
                              </tr>
                          </thead>
                          <tbody *ngIf="detalles.length>0" >
                              <tr  *ngFor="let detail of detalles; index as i"  >
                                  <td>
                                     <button  type="button" class="btn btn-danger btn-sm" style="margin-top:0" (click)="delete_product(i,detail.subtotal,detail.venta-detail.subtotal,detail.venta)">
                                          <i class="icon-close" ></i>
                                      </button>
                                  </td>
                                
                                  <td >
                                      {{detail.producto|lowercase}}
                                  </td>
                                  <td>
                                       {{detail.venta|currency: 'COP ':'code'}}
                                  <td>
                                      {{detail.cantidad}}
                                  </td>
                                  
                                  <td>
                                        {{detail.subtotal|currency: 'COP ':'code'}}
                                  </td>
                              </tr>
                              <tr style="background-color: #CEECF5;">
                                  <td colspan="5" align="right"><strong>Total Parcial: {{totalV|currency:'COP ':'code'}}</strong></td>
                                  
                              </tr>
                              <tr style="background-color: #CEECF5;">
                                  <td colspan="5" align="right"><strong>Total Impuesto: {{impuestoV|currency:'COP ':'code'}}</strong></td>
                                 
                              </tr>
                              <tr style="background-color: #CEECF5;">
                                  <td colspan="5" align="right"><strong>Total Neto:  {{netoV|currency:'COP ':'code'}}</strong></td>
                                 
                              </tr>
                          </tbody>
                          <tbody *ngIf="detalles.length<1">
                              <tr>
                                  <td colspan="6">
                                      NO hay artículos agregados
                                  </td>
                              </tr>
                          </tbody>                                    
                      </table>
                  </div>
              </div>
              <form #vent="ngForm"  role="form"  >
              <div class="form-group row">
                   
                  <div class="row">
                        <div class="col-md-6">
                                <label>Valor en Descuentos: </label>
                                <input type="number" class="form-control" id="descuento" name="descuento" [(ngModel)]="descuento" >
                              
                               
                            </div>

                            <div class="col-md-6">
                                    
                                    <label>Importe Venta: </label>
                                    <input type="number" id="importe" name="importe" [(ngModel)]="importe" class="form-control"><br>
                                   
                                </div>

                  </div>
                  <div class="col-md-12">
                        <button type="button"class="btn btn-secondary">Cerrar</button> || 
                        <button type="button" class="btn btn-primary" (click)="realizar_venta(vent)" >Registrar Venta</button>
                 </div>
                 
              </div>
              </form>
          </div>


      </div>
    </div>


    </main>
    </div>

    <div class="modal fade" id="modalClient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-primary modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modulo clientes</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form #formClient="ngForm" >
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <select class="form-control col-md-3" id="selectecliente" name="selectecliente" [(ngModel)]="selectecliente">
                                  <option value="nombrecliente">Nombre</option>
                                  <option value="apellidocliente">Apellido</option>
                                  <option value="telefonocliente">Telefono</option>
                                  <option value="cedulacliente">Cedula</option>
                                </select>
                                <input type="text" id="namecliente" name="namecliente" [(ngModel)]="namecliente" class="form-control" placeholder="Texto a buscar">
                                <button type="submit" class="btn btn-primary" (click)="busquedacliente(formClient)"><i class="fa fa-search"></i> Buscar</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Opciones</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th>Correo</th>
                                <th>Cedula</th>
                    
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of datoscliente"  >
                                <td>
                                    <button type="button" class="btn btn-success btn-sm" (click)="buscarclientemodal(client.cedulacliente)" >
                                      <i class="icon-check"></i>
                                    </button> 
                                  
                                </td>
                                <td>{{client.nombrecliente}}</td>
                                <td>{{client.apellidocliente}}</td>
                                <td>{{client.direccioncliente}}</td>
                                <td>{{client.telefonocliente}}</td>
                                <td>{{client.correocliente}}</td>
                                <td>{{client.cedulacliente}}</td>                                
                        
                            </tr>
                        </tbody>
                    </table>
                       
                       
                    
                </div>
              
            </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="crearcliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-success modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Agregar clientes</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form #formCreateClient="ngForm" >
                    <div class="modal-body">
                            <div class="form-group">
                                    <label for="email">Nombre:</label>
                                    <input type="text" class="form-control" id="nombremc" name="nombremc" [(ngModel)]="nombremc" placeholder="Nombre">
                                  </div>
                                  <div class="form-group">
                                    <label for="pwd">Apellido:</label>
                                    <input type="text" class="form-control" id="apellidomc" name="apellidomc" [(ngModel)]="apellidomc" placeholder="Apellido">
                                  </div>
                                  <div class="form-group">
                                        <label for="pwd">Dirección:</label>
                                        <input type="text" class="form-control" id="direccionmc" name="direccionmc" [(ngModel)]="direccionmc" placeholder="Dirección">
                                      </div>
                                      <div class="form-group">
                                            <label for="pwd">Telefono:</label>
                                            <input type="text" class="form-control" id="telefonomc" name="telefonomc" [(ngModel)]="telefonomc" placeholder="Telefono">
                                          </div>

                                          <div class="form-group">
                                                <label for="pwd">Cedula:</label>
                                                <input type="text" class="form-control" id="cedulamc" name="cedulamc" [(ngModel)]="cedulamc" placeholder="Cedula">
                                              </div>

                                              <div class="form-group">
                                                    <label for="pwd">Correo:</label>
                                                    <input type="email" class="form-control" id="correomc" name="correomc" [(ngModel)]="correomc" placeholder="Correo">
                                                  </div>
                                  
                                  <button type="submit" class="btn btn-success" (click)="agregar_cliente(formCreateClient)">Agregar</button>
                       
                           
                        
                    </div>
                  
                </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        
    </div>
    <div class="modal fade" id="buscarProductoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-primary modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Productos</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form #formProduct="ngForm" >
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" id="selectecliente" name="selecteproducto" [(ngModel)]="selectproducto">
                                      <option value="descripcionproducto">Nombre producto</option>
                                    </select>
                                    <input type="text" id="nameproducto" name="nameproducto" [(ngModel)]="nameproducto" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" class="btn btn-primary" (click)="buscarproductomodal(formProduct)"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Opciones</th>
                                    <th>Nombre</th>
                                    <th>Laboratorio</th>
                                    <th>Codigo</th>
                                    <th>Stock</th>
                                    <th>Precio</th>
                                   
                        
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let pro of productosModal"  >
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm" (click)="buscarproductocodmod(pro.codigobarra1)" >
                                          <i class="icon-check"></i>
                                        </button> 
                                      
                                    </td>
                                    <td>{{pro.descripcionproducto}}</td>
                                    <td>{{pro.nombreproveedor}}</td>
                                    <td>{{pro.codigobarra1}}</td>
                                    <td>{{pro.stock}}</td>
                                    <td>{{pro.preciosugerido|currency:'COP ':'code'}}</td>
                                                                
                            
                                </tr>
                            </tbody>
                        </table>
                           
                           
                        
                    </div>
                  
                </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    <footer class="app-footer">
        <span><a href="http://www.incanatoit.com/">IncanatoIT</a> &copy; 2017</span>
        <span class="ml-auto">Desarrollado por <a href="http://www.incanatoit.com/">IncanatoIT</a></span>
    </footer>